// reset 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-size: $base-font-size;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

// Styles pour le contenu de paragraphe
p {
  margin-bottom: 15px;
}

// Styles pour les liens
a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
}

.btn-delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}