.nav {
    &__list {
        display: flex;
        align-items: center;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__item {}
    &__link {
        text-decoration: none;
        color: #fff;
        font-size: 1.4rem;
        transition: all 0.3s;
        &:hover {
            color: $accent-color;
        }
    }
}